<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to sanitize(homepage.menu_title), scrivito_path(homepage),
        class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= scrivito_tag_list :ul, homepage, :toclist, class: "nav navbar-nav" do |list, obj| %>

        <% list.tag :li  do %>
          <%= link_to sanitize(obj.menu_title), scrivito_path(obj) %>
        <% end %>
      <% end %>

      <% if current_user %>
        <div class="pull-right">
          <b>Logged in as <u><%= current_user.email %></u></b>
          <%= link_to 'Logout', :logout, method: :delete, class: 'btn btn-danger' %>
        </div>
      <% else %>
        <%= form_tag :login, class: 'navbar-form navbar-right' do %>
          <div class="form-group">
            <%= text_field_tag :email, '', class: 'form-control' %>
            <%= submit_tag 'Login', class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
