<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to sanitize(homepage.menu_title), scrivito_path(homepage),
        class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= scrivito_tag_list :ul, homepage, :toclist, class: "nav navbar-nav" do |list, obj| %>

        <% list.tag :li  do %>
          <%= link_to sanitize(obj.menu_title), scrivito_path(obj) %>
        <% end %>
      <% end %>

      <div class="navbar-right">
        <% if user_signed_in? %>
          Angemeldet als <%= current_user.email %>.
          <%= link_to 'Abmelden', :destroy_user_session, method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'Anmelden', :new_user_session, class: 'btn btn-primary' %>
          <%= link_to 'Registrieren', :new_user_registration, class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
